<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/boostrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Bookstore</title>
</head>
<body>
	<h1>Bookstore</h1>
	<div th:text="'Hello ' + ${appuser} + '. You are an ' + ${appuser}">hello</div>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Category</th>
			<th>Year</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each ="book : ${books}">
			<td th:text="${book.title}" />
			<td th:text="${book.author}" />
			<td th:text="${book.isbn}" />
			<td th:text="${book.category.name}"></td>
			<td th:text="${book.bookYear}" />
			<td th:text="${book.price}" />
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<div><a href="/add" class="btn btn-primary">Add Book</a></div>
	<div><a href="/logout" class="btn btn-danger">Log out</a></div>
</body>
</html>