<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>Bookstore</title>
</head>
<body>
	<h1>Bookstore</h1>
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Price</th>
			<th>Delete</th>
		</tr>
		<tr th:each ="book : ${books}">
			<td th:text="${book.title}" />
			<td th:text="${book.author}" />
			<td th:text="${book.isbn}" />
			<td th:text="${book.bookYear}" />
			<td th:text="${book.price}" />
			<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
		</tr>
	</table>
	<a href="/add">Add Book</a>
</body>
</html>