<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit car</h1>
	<div>
	<form th:object="${editCar}" th:action="@{/saveCar}" action="#" method="post">
		  	<input type="hidden" id="id" th:field="*{id}" />
		  	<div>
		  	<label>Brand</label>
			<input type="text" th:field="*{brand}" />
			</div>
			<div>
		  	<label>Model</label>
		  	<input type="text" th:field="*{model}" />
			</div>
			<div>
		  	<label>Color</label>
			<input type="text" th:field="*{color}" />
			</div>
			<div>
		  	<label>Register number</label>
			<input type="text" th:field="*{registerNumber}" />
			</div>
			<div>		
		  	<label>Year Of Construction</label>
			<input type="number" th:field="*{yearOfConstruction}" />
			</div>
			<div>			
		  	<label>Price</label>
			<input type="number" th:field="*{price}" />			
			</div>
			<br>
			
			<input type="submit" value="Save"></input>
		</form>
	
	</div>

 	
</body>
</html>