<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>new car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Insert new car information</h1>
	<div>
	<form th:object="${uusiAuto}" th:action="@{saveCar}" action="#" method="post">
	<!-- private String brand, model, color, registerNumber;
	private int yearOfConstruction, price; -->
		  	<div>
		  	<label>Brand</label>
			<input type="text" th:field="*{brand}" />
			</div>
			<div>
		  	<label>Model</label>
		  	<input type="text" th:field="*{model}" />
			</div>
			<div>
		  	<label>Color</label>
			<input type="text" th:field="*{color}" />
			</div>
			<div>
		  	<label>Register number</label>
			<input type="text" th:field="*{registerNumber}" />
			</div>
			<div>		
		  	<label>Year Of Construction</label>
			<input type="number" min="1800" th:field="*{yearOfConstruction}" />
			</div>
			<div>			
		  	<label>Price</label>
			<input type="number" min="1" th:field="*{price}" />			
			</div>
			<br>
			
			<input type="submit" value="Save"></input>
		</form>
	
	</div>

 	
</body>
</html>